.productCard{
    display: flex;
    flex-direction: column;
    background-color: rgb(222, 222, 222);
    width: 250px;
    height: 400px;
    margin: 10px;
    
    
    
}

.flex{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;

}

